
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 30px 0 0 0;
  min-height: 100vh;

background: linear-gradient(359.3deg, rgb(196, 214, 252) 1%, rgba(187, 187, 187, 0) 70.9%);  background-repeat: no-repeat;
  background-position: center;
  font-family: "Ruwudu", serif;
  overflow: hidden;
  color: #ffffff;
}

@media (max-width: 768px) {
  body {
    background-position: center top;
  }
}

.city-weather {
  background: linear-gradient(
    to top,
    rgb(12, 52, 131) 0%,
    rgb(162, 182, 223) 100%,
    rgb(107, 140, 206) 100%,
    rgb(162, 182, 223) 100%
  );
  border-radius: 16px;
  width: 80%; /* Adjust the width for smaller screens */
  max-width: 600px; /* Set a maximum width */
  margin: 0px auto;
  padding: 20px; /* Adjust padding for smaller screens */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow for better visibility */
}

#search-city {
  width: 80%; 
  border-radius: 5px;
  border: 0.5px solid #00b7c2;
  padding: 7px;
}

.submit-city {
  margin-top: 5px;
}

#current-location {
  margin-top: 10px; 
}

.WeatherInfo {
  margin-top: 30px;
}

.temperature-container {
  font-size: 40px;
  margin-right: 20px;
  margin-top: 20px;
}

ul {
  padding-left: 0;
  margin-left: 0;
}

li {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}

.days5 {
  padding: 0px;
}

.day {
  font-size: 23px;
  font-weight: bolder;
}

.temperature-max,
.temperature-min,
.emoji {
  word-spacing: 5px;
  font-size: 15px;
}

.temperature-min {
  opacity: 0.7;
}

.col {
  text-align: center;
  padding: 20px 0;
  margin: 0 5px;
  transition: all 200ms ease-in-out;
  border-radius: 30px; 
}

.col:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
  cursor: pointer;
}

#celsius-link,
#fahrenheit-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px; 
}

#celsius-link:hover,
#fahrenheit-link:hover {
  text-decoration: underline;
}
.feels-like{
  font-size: 15px;
}

#img-today{
  margin-top: -50px;
}
#gitLink {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  color: black;
  word-spacing: 5px;
}